<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.main_activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main_Activity">
        <activity android:name=".View_User_Profile"></activity>
        <activity android:name=".View_Profile" />
        <activity android:name=".UserProfileMe" />
        <activity android:name=".Choose_City" />
        <activity android:name=".chats" />
        <activity android:name=".About_Me" />
        <activity android:name=".life_style_choices" />
        <activity android:name=".choose_interest" />
        <activity android:name=".relationship_lifestyle" />
        <activity android:name=".add_pic" />
        <activity android:name=".my_birthday" />
        <activity android:name=".select_gender" />
        <activity android:name=".add_name" />
        <activity android:name=".enter_mobile_no" />
        <activity android:name=".sign_up" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>