<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Woo">
        <activity android:name=".View_User_Profile"></activity>
        <activity android:name=".Choose_City" />
        <activity android:name=".About_Me" />
        <activity android:name=".Choose_Interest" />
        <activity android:name=".LifeStyle_Choices" />
        <activity android:name=".RelationShip_LiftStyle" />
        <activity android:name=".AddPic" />
        <activity android:name=".MyBirthDay" />
        <activity android:name=".AddGender" />
        <activity android:name=".WooSignIn" />
        <activity android:name=".AddName" />
        <activity android:name=".EnterMobileNo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>